*.class
target/


# Eclipse project files
.classpath
.project
.settings

# IDEA metadata and output dirs
*.iml
*.ipr
*.iws
.idea/

# gitbook
_book
tmp
.springBeans

mongo_data/


.DS_Store
node_modules/
/frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# element-starter/